.sgq-main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.sgq-environment h1 {
  color: #333;
}
.friendly-link span {
  color: #333;
}
.sgq-environment {
  width: 942px;
  margin: 55px auto 40px auto;
  font-family: "微软雅黑";
}
.sgq-environment h1 {
  line-height: 55px;
  font-size: 20px;
}
.sgq-environment .sgq-environment-box {
  overflow: hidden;
}
.sgq-environment .sgq-environment-box .sgq-environment-img-box {
  position: relative;
  width: 235px;
  height: 210px;
  float: left;
}
.sgq-environment .sgq-environment-box .sgq-environment-img-box .sgq-environment-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
}
.sgq-environment .sgq-environment-box .sgq-environment-img-box .sgq-environment-content {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  width: 215px;
  height: 182px;
  color: #fff;
  padding-top: 28px;
  padding-left: 20px;
}
.sgq-environment .sgq-environment-box .sgq-environment-img-box .sgq-environment-content a {
  position: absolute;
  bottom: 20px ;
  left: 20px;
  display: block;
  width: 31px;
  height: 31px;
  background: url("../images/sgq/banner-anniu_16.png");
}
.sgq-environment .sgq-environment-box .sgq-environment-img-box .sgq-environment-con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3399ff;
  opacity: .85;
  display: none;
}
.sgq-footer {
  font-family: "微软雅黑";
  width: 942px;
  margin: 0 auto;
}
.sgq-footer .friendly-link span {
  float: left;
  margin-right: 30px;
  font-weight: bold;
  font-size: 20px;
  vertical-align: middle;
}
.sgq-footer .friendly-link a {
  margin-right: 40px;
  color: #636161;
  vertical-align: middle;
}
.sgq-footer .sgq-foot {
  margin-top: 75px;
  position: relative;
}
.sgq-footer .sgq-foot .sgq-foot-left {
  float: left;
  width: 149px;
  height: 39px;
  margin-top: 15px;
}
.sgq-footer .sgq-foot .sgq-foot-left a {
  width: 100%;
  height: 100%;
  display: block;
}
.sgq-footer .sgq-foot .sgq-foot-midden {
  position: absolute;
  width: 250px;
  left: 0;
  right: 0;
  color: #636161;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  height: 160px;
}
.sgq-footer .sgq-foot .sgq-foot-midden p {
  line-height: 36px;
}
.sgq-footer .sgq-foot .sgq-foot-right {
  float: right;
  width: 153px;
  height: 57px;
}
.sgq-footer .sgq-foot:after {
  content: "";
  display: block;
  clear: both;
}
