body{
  font-family: "微软雅黑";
}
.sgq-main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.sgq-header {
  height: 126px;
  background: #212e3e;
  font-family: "微软雅黑";
}
.sgq-header .sgq-main {
  height: 100%;
}
.sgq-header .sgq-header-left {
  width: 380px;
  height: 83px;
  margin-top: 27px;
  float: left;
  background: url("../images/sgq/toubu_06.png");
}
.sgq-header .sgq-header-right {
  width: 335px;
  height: 83px;
  margin-top: 27px;
  float: right;
  background: url("../images/sgq/toubu_03.png");
}
.sgq-nav {
  font-family: "微软雅黑";
  position: relative;
  z-index: 1000;
  height: 64px;
  background: #10beff;
  color: #fff;
  text-align: center;
}
.sgq-nav a {
  color: #fff;
}
.sgq-nav .sgq-nav-item {
  position: relative;
  width: 125px;
  float: left;
}
.sgq-nav .sgq-nav-item .sgq-nav-a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}
.sgq-nav .sgq-nav-item .sgq-nav-ch {
  line-height: 64px;
}
.sgq-nav .sgq-nav-item .sgq-nav-en {
  color: #d8dee2;
  display: none;
}
.sgq-nav .sgq-nav-item .sgq-nav-list {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #10beff;
}
.sgq-nav .sgq-nav-item .sgq-nav-list .sgq-nav-list-item {
  width: 90px;
  height: 40px;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #69d1f8;
}
.sgq-nav .sgq-nav-item .sgq-nav-list .sgq-nav-list-item a:hover {
  color: #212e3e;
}
